.gamer-img {
    width: 10rem;
    height: 15rem;
    background-position: center;
    background-size: cover;
    position: relative;
    border-radius: 1rem;
}
.gamer-img::before {
    content: "";
    position: absolute;
    top: 40%;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background: linear-gradient(to top, #000000 0%, #00000000 100%);
}
.gamer-name-parent {
    height: 100%;
    width: 100%;
    display: flex ;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.gamer-name {
    z-index: 10;
    color: white;
    display: block;
    user-select: none;
    padding-bottom: var(--whitespace);
    font-size: var(--title-3-size);
}
